/* header for web version */
.dropdown a,
.dropleft a,
.dropright a,
.dropup a {
  padding: 0.4rem !important;
  color: #332a7c !important;
  margin-top: 4px;
}

.th-location-btn {
  padding: 5px 10px !important;
  border-radius: 4px;
  background-color: #ffa000;
}

.th-font {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #332a7c;
}

.th-searchbar {
  background: #dfdfdf !important;
  height: auto !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: none !important;
  transition: none !important;
}

/* header for mobile version */
/* backdrop */
.th-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* side drawer */
.th-side_drawer {
  font-weight: 500;
  padding-top: 10px;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 350px;
  z-index: 101;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

.th-side_drawer.open {
  transform: translateX(0);
}
